/*  Community Theme Styling */
/*  Created Originally By donvoo(https://github.com/donvoo) & greySynapse(https://github.com/greySynapse) */
/*  Maintained and Updated By TheBanHammer(https://github.com/thebanhammer) & PixelBreeze(https://github.com/PixelBreeze) & PowerOfMad(https://github.com/PowerOfMad) */

/********/
/*HEADER*/
/********/

/* Room History & RCS Skip Button */
#history-button,
#rs-skip-button {
    background: linear-gradient(0deg,#13002f 0,#002149 169%,#111317 100%) !important;
}

#rs-skip-button {
        /* Prevents Flicker Issues */
  -webkit-box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 0) !important;
  -moz-box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 0) !important;
  -o-box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 0) !important;
  box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 0) !important;
}

#history-button {
        /* Prevents Flicker Issues */
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 156, 221, 0);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 156, 221, 0);
  -o-box-shadow: inset 0 0 0 0 rgba(0, 156, 221, 0);
  box-shadow: inset 0 0 0 0 rgba(0, 156, 221, 0);
}

#rs-skip-button, 
#history-button {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#playlist-button {
   background: linear-gradient(to bottom, rgba(253,185,19,1) 0%,rgba(0,106,68,1) 44%,rgba(193,39,45,1) 100%) !important;
  
        /* Prevents Flicker Issues */
  -webkit-box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 1);
  -moz-box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 1);
  -o-box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 1);
  box-shadow: inset 0 0 0 0 rgba(146, 90, 255, 1);
}


/* Plug Logo Menu */
#app-menu .button, 
#app-menu .list {
  background: linear-gradient(to bottom, rgba(253,185,19,1) 0%,rgba(0,106,68,1) 44%,rgba(193,39,45,1) 100%) !important;
}

#app-menu .button, 
#app-menu .item, 
#app-menu .logout {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#app-menu .list a {
  background: linear-gradient(to bottom, rgba(253,185,19,1) 0%,rgba(0,106,68,1) 44%,rgba(193,39,45,1) 100%) !important;
}


/* Room Meta (From Community Name to History Button) */
#room-meta {
  background: rgb(134, 80, 226) !important;
}

/* Chat Header */
#chat-header {
  background: rgba(0, 0, 0, 1) !important;
}

#chat-header #chat-sound-button,
#chat-header #chat-emoji-button,
#chat-header #chat-timestamp-button,
#chat-header #chat-popout-button,
#chat-header #chat-mentions-button,
#chat-header #rcs-clearchat {
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/* Header Selected Item + Titles */
#app .header-panel-button.selected {
  background: rgb(3, 0, 7) !important;
}

#chat-header,
#user-lists .header,
#waitlist .header,
#app .friends .list-header {
  background: rgb(3, 0, 7) !important;
}

/********/
/*FOOTER*/
/********/

/*** FOOTER ANIMATIONS ***/
#footer-user .info {
  background-color: rgba(0, 0, 0, 1);
  -moz-animation: fadein 0.34s;
  -webkit-animation: fadein 0.34s;
  -o-animation: fadein 0.34s;
  animation: fadein 0.34s;
}

/* Footer Bar */
#footer {
  /*background: rgb(3, 0, 7) !important;*/
        background: linear-gradient(0deg,#13002f 0,#002149 169%,#111317 100%) !important;
}

/* Footer Buttons Static */
#footer-user .inventory,
#footer-user .badge,
#footer-user .store,
#footer-user .profile,
#footer-user .settings {
  background: rgb(3, 0, 7) !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* DJ */
#dj-button .left {
  background: rgba(40,44,53,1) !important;
}

#dj-button {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Chat Message Fadein */
#chat .emote:nth-child(n+1),
#chat .log:nth-child(n+1),
#chat .mention:nth-child(n+1), 
#chat .message:nth-child(n+1),
#chat .moderation:nth-child(n+1),
#chat .skip:nth-child(n+1), 
#chat .update:nth-child(n+1),
#chat .user-action:nth-child(n+1),
#chat .welcome:nth-child(n+1) {
  -webkit-animation: fadein 0.35s;
  -moz-animation: fadein 0.35s;
  -o-animation: fadein 0.35s;
  animation: fadein 0.35s;
} 



/* Video Player Background */
#playback .background {
  visibility: visible;
}

/******/
/*CHAT*/
/******/

/* /me Messages / Emotes */
#chat .emote .text {
  color: rgba(125, 96, 206, 1) !important;
  font-weight: bold !important;
}

#chat .emote .msg {
  background: rgba(45, 27, 97, 0.1) !important;
}

/***************/
/*NAME STYLINGS*/
/***************/

/* Enyx */
[data-cid^="3684485-"].cm .msg .from .un, #user-lists .list .role-manager.id-3684485 .name {
  color: #000 !important;
  text-shadow: 0px 0px 1px #ac76ff, 0px 0px 5px #ac76ff, 0px 0px 15px #ac76ff !important;
}

/* That Random Guy */
[data-cid^="4105479"].cm .msg .from .un, #user-lists .list .role-cohost.id-4105479 .name {
        /* Orange */
  color: rgba(236, 126, 51, 1) !important;
}

/* Kirby */
/* [data-cid^="3893149"].cm .msg .from .un, #user-lists .list .role-manager.id-5762084 .name
{
        color:                   rgba(230, 122, 227, 1) !important;
} */

/* Dyll / Erio */
[data-cid^="6110426"].cm .msg .from .un, #user-lists .list .role-cohost.id-6110426 .name {
  color: rgba(22, 196, 228, 1) !important;
}

/* TBH */
[data-cid^="3620521"].cm .msg .from .un, #user-lists .list .role-manager.id-3620521 .name {
        /* Sky Blue */
  color: rgb(189, 53, 184) !important;
  text-shadow: 0px 0px 10px rgb(35, 200, 208);
}


/* Non - Staff */

/*******************/
/*Badges*/
/*******************/
/**Gerdutė**/
#chat-messages .id-3579906 .badge-box i.bdg {
  background-image: url('http://image.fg-a.com/Aniheart61a.gif');
  background-size: cover;
}
/**Power-Of-Mad**/
#chat-messages .id-3525229 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/AqDwaIP.png');
  background-size: cover;
}
/**-heineken**/
#chat-messages .id-4206645 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/xNICQrI.jpg');
  background-size: cover;
}
/**Randomas**/
#chat-messages .id-6110426 .badge-box i.bdg {
  background-image: url('http://www.gifmania.us/Animated-Gifs-Technology/Free-Animations-Radar/Small-Army-Radar-53093.gif');
  background-size: cover;
}

#chat-messages .id-12386384 {
       /* background: linear-gradient(85deg,#1F1232 0,#111317 33%,#111317 100%) !important;*/
  background: rgba(34, 23, 54, 0.33) !important;
  border-left: 3px solid #8230FF;
}

[data-cid^="12386384"] .msg .from .un {
  color: #ac76ff !important;
}

#chat-messages .id-12386384 .badge-box {
  background: none;
}

#chat .moderation {
       /* background: linear-gradient(85deg,#1F1232 0,#111317 33%,#111317 100%) !important;*/
  background: rgba(34, 23, 54, 0.33) !important;
  border-left: 3px solid #8230FF;
}

#chat-messages .id-12386384 .icon {
  display: none;
}




/**************/
/*TEST SECTION*/
/**************/


/*******/
/*VIP's*/
/*******/

/*Naught Fox*/
.cm.role-dj.id-3765403 .msg .from .un, #user-lists .list .role-dj.id-3765403 .name 
{
    color: #FF8F00 !important;
}

.id-3765403 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-3765403 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}

/*EternityMusic*/

.cm.role-dj.id-5073762 .msg .from .un, #user-lists .list .role-dj.id-5073762 .name 
{
    color: #FF8F00 !important;
}

.id-5073762 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-5073762 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}

/*DJ Yazora*/

.cm.role-dj.id-5025604 .msg .from .un, #user-lists .list .role-dj.id-5025604 .name 
{
    color: #FF8F00 !important;
}

.id-5025604 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-5025604 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}


/*******/
/*ROLES*/
/*******/

.cm.role-dj .from .un, .role-dj .name
{
        color: #6669ff !important;
}

.icon-chat-dj 
{
    background: url("https://i.imgur.com/F6gPcXh.png") !important;
}

.cm.role-bouncer .from .un, .role-bouncer .name
{
        color: #c1272d !important;
}

.icon-chat-bouncer 
{
    background: url("http://i.imgur.com/aulbyGa.png");
}

.cm.role-manager .from .un, .role-manager .name
{
        color: #006a44 !important;
}

.icon-chat-manager 
{
    background: url("http://i.imgur.com/Ia0XNqc.png");
}

.cm.role-cohost .from .un, .role-cohost .name, .cm.role-host .from .un, .role-host .name
{
        color: #fdb913 !important;
}

.icon-chat-cohost 
{
    background: url("http://i.imgur.com/Qhh7mps.png");
}

.icon-chat-host 
{
    background: url("http://i.imgur.com/uvkSrZm.png");
}
