/*  Community Theme Styling */
/*  Created Originally By donvoo(https://github.com/donvoo) & greySynapse(https://github.com/greySynapse) */
/*  Maintained and Updated By TheBanHammer(https://github.com/thebanhammer) & PixelBreeze(https://github.com/PixelBreeze) & PowerOfMad(https://github.com/PowerOfMad) */

/********/
/*HEADER*/
/********/

/* Room History & RCS Skip Button */


#playlist-panel {
  opacity: 0.9;
}

#app-menu .list:hover > .community,
#app-menu .list:hover > a:nth-child(2) > .events,
#app-menu .list:hover > a:nth-child(3) > .support,
#app-menu .list:hover > a:nth-child(4) > .blog,
#app-menu .list:hover > a:nth-child(5) > .about,
#app-menu .list:hover > a:nth-child(6) > .api, 
#app-menu .list:hover > a:nth-child(7) > .terms,
#app-menu .list:hover > a:nth-child(8) > .privacy,
#app-menu .list:hover > .logout {
  opacity: 0.3;
}
/* Plug Logo Menu */
#app-menu .button, 
#app-menu .list {
  background: linear-gradient(to bottom, rgba(253,185,19,1) 0%,rgba(0,106,68,1) 44%,rgba(193,39,45,1) 100%) !important;
}

#app-menu .button, 
#app-menu .item, 
#app-menu .logout {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#app-menu {
  opacity: 0.95;
}

#app-menu .community,
#app-menu .events, 
#app-menu .support, 
#app-menu .blog, 
#app-menu .about, 
#app-menu .api, 
#app-menu .terms, 
#app-menu .privacy {
  opacity: 0.8;
}

/* Room Meta (From Community Name to History Button) */

/* Chat Header */
#chat-header {
  background: rgba(0, 0, 0, 1) !important;
}

#chat-header #chat-sound-button,
#chat-header #chat-emoji-button,
#chat-header #chat-timestamp-button,
#chat-header #chat-popout-button,
#chat-header #chat-mentions-button,
#chat-header #rcs-clearchat {
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/* Header Selected Item + Titles */
#app .header-panel-button.selected {
  background: rgb(3, 0, 7) !important;
}

#chat-header,
#user-lists .header,
#waitlist .header,
#app .friends .list-header {
  background: rgb(3, 0, 7) !important;
}
/************/
/*SCROLL BAR*/
/************/

/* Entire Bar */
#chat-messages::-webkit-scrollbar {
  width: 12px !important;
}
 
/* Track */
#chat-messages::-webkit-scrollbar-track {
  -webkit-border-radius: 3px !important;
  background-color: rgba(150, 150, 150, 0.2) !important;
}
/* Track Hover */
#chat-messages::-webkit-scrollbar-track:hover {
  background-color: rgba(150, 150, 150, 0.2) !important;
}
 
/* Handle */
#chat-messages::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px !important;
  background-color: rgba(150, 150, 150, 1) !important;
}
/********/
/*FOOTER*/
/********/

/* Footer Bar */
/*#footer {
  /*background: rgb(3, 0, 7) !important;
        background: linear-gradient(0deg,#13002f 0,#002149 169%,#111317 100%) !important;
}
*/
/* Footer Buttons Static */
#footer-user .inventory,
#footer-user .badge,
#footer-user .store,
#footer-user .profile,
#footer-user .settings {
  background: rgb(3, 0, 7) !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* DJ */
#dj-button .left {
  background: rgba(40,44,53,1) !important;
}

#dj-button {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Chat Message Fadein */
#chat .emote:nth-child(n+1),
#chat .log:nth-child(n+1),
#chat .mention:nth-child(n+1), 
#chat .message:nth-child(n+1),
#chat .moderation:nth-child(n+1),
#chat .skip:nth-child(n+1), 
#chat .update:nth-child(n+1),
#chat .user-action:nth-child(n+1),
#chat .welcome:nth-child(n+1) {
  -webkit-animation: fadein 0.35s;
  -moz-animation: fadein 0.35s;
  -o-animation: fadein 0.35s;
  animation: fadein 0.35s;
} 

#user-rollover {
  opacity: 0.95;
  background: rgba(28, 28, 28, 1) !important;
}
/*Dashboard*/
#dashboard .favorites, 
#dashboard .cell, 
#dashboard .join, 
#dashboard .bar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}

#dashboard .cell {
  opacity: 0.75;
}
/* Video Player Background */
#playback .background {
  visibility: visible;
}

/******/
/*CHAT*/
/******/

/* /me Messages / Emotes */
#chat .emote .text {
  color: rgba(125, 96, 206, 1) !important;
  font-weight: bold !important;
}

#chat .emote .msg {
  background: rgba(45, 27, 97, 0.1) !important;
}

#user-menu .avatar,
#user-menu .profile,
#user-menu .inventory,
#user-menu .store,
#user-menu .friends,
#user-menu .played,
#user-menu .community,
#user-menu .settings {
  opacity: 0.85;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*Inventory*/

#user-inventory .jspPane .cell {
  opacity: 0.55 !important;
}


#user-inventory .row {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}


/*Store*/

#user-store .jspPane .cell {
  opacity: 0.55 !important;
}

/*Friends*/
#user-friends .list .row, 
#user-friends .list .row .buttons .positive,
#user-friends .list .row .buttons .negative {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}

#user-friends .list .row:hover {
  opacity: 1 !important;
}
/*Communities*/
#user-communities .cell, 
#user-communities .join, 
#user-communities .bar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.75;
}

#user-communities .cell {
  opacity: 0.75;
}

#footer-user .back {
  background: rgb(3, 0, 7) !important;
  opacity: 0.55;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*Dialog*/
#dialog-media-update,
#dialog-playlist-rename, 
#dialog-playlist-delete,
#dialog-playlist-create,
#dialog-delete {
  opacity: .85;
}

#dialog-media-update > .dialog-body,
#dialog-media-update > .dialog-frame,
#dialog-playlist-rename > .dialog-body,
#dialog-playlist-rename > .dialog-frame,
#dialog-playlist-delete > .dialog-body,
#dialog-playlist-delete > .dialog-frame,
#dialog-playlist-create > .dialog-body,
#dialog-playlist-create > .dialog-frame,
#dialog-delete > .dialog-body,
#dialog-delete > .dialog-frame {
  opacity: .85;
}

#dialog-user-role,
#dialog-ban-user,
#dialog-mute-user,
#dialog-gift-send {
  opacity: 1;
}

#dialog-user-role .role-menu .menu li:nth-child(n+1),
#dialog-ban-user .dialog-body .duration .toggle,
#dialog-ban-user .dialog-body .duration .toggle.day,
#dialog-ban-user .dialog-body .duration .toggle.forever,
#dialog-ban-user .dialog-body ul li:nth-child(n+1),
#dialog-ban-user .dialog-body li .radio,
#dialog-mute-user .dialog-body .duration .toggle.short,
#dialog-mute-user .dialog-body .duration .toggle.medium,
#dialog-mute-user .dialog-body .duration .toggle.long,
#dialog-mute-user .dialog-body ul li:nth-child(n+1),
#dialog-mute-user .dialog-body li .radio {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


#dialog-user-role .dialog-frame:hover > .button.cancel,
#dialog-user-role .dialog-frame:hover > .button.submit,
#dialog-ban-user .dialog-frame:hover > .button.cancel,
#dialog-ban-user .dialog-frame:hover > .button.submit,
#dialog-mute-user .dialog-frame:hover > .button.cancel,
#dialog-mute-user .dialog-frame:hover > .button.submit,
#dialog-gift-send .dialog-frame:hover > .button.submit,
#dialog-gift-send .dialog-frame:hover > .button.cancel {
  opacity: 0.4;
}

/***************/
/*NAME STYLINGS*/
/***************/

/* Enyx */
[data-cid^="3684485-"].cm .msg .from .un, #user-lists .list .role-manager.id-3684485 .name {
  color: #000 !important;
  text-shadow: 0px 0px 1px #ac76ff, 0px 0px 5px #ac76ff, 0px 0px 15px #ac76ff !important;
}

/* That Random Guy */
[data-cid^="4105479"].cm .msg .from .un, #user-lists .list .role-cohost.id-4105479 .name {
        /* Orange */
  color: rgba(236, 126, 51, 1) !important;
}

/* Kirby */
/* [data-cid^="3893149"].cm .msg .from .un, #user-lists .list .role-manager.id-5762084 .name
{
        color:                   rgba(230, 122, 227, 1) !important;
} */

/* Dyll / Erio */
[data-cid^="6110426"].cm .msg .from .un, #user-lists .list .role-cohost.id-6110426 .name {
  color: rgba(22, 196, 228, 1) !important;
}

/* TBH */
[data-cid^="3620521"].cm .msg .from .un, #user-lists .list .role-manager.id-3620521 .name {
        /* Sky Blue */
  color: rgb(189, 53, 184) !important;
  text-shadow: 0px 0px 10px rgb(35, 200, 208);
}


/* Non - Staff */

/*******************/
/*Badges*/
/*******************/
/**Gerdutė**/
#chat-messages .id-3579906 .badge-box i.bdg {
  background-image: url('http://www.sport24.gr/Basket/Euroleague/article3769355.ece/BINARY/original/image.jpg')!important;
  background-size: cover;
}
/**Power-Of-Mad**/
#chat-messages .id-3525229 .badge-box i.bdg {
  background-image: url('http://i.imgur.com/AqDwaIP.png') !important;
  background-size: cover;
}
/**-heineken**/
#chat-messages .id-4206645 .badge-box i.bdg {
  background-image: url('http://thumb.webps.cn/i1/img/4/TB1GRekGXXXXXXwaXXXXXXXXXXX_!!0-item_pic.jpg_200x200.jpg') !important;
  background-size: cover;
}
/**Randomas**/
#chat-messages .id-6110426 .badge-box i.bdg {
  background-image: url('http://www.gifmania.us/Animated-Gifs-Technology/Free-Animations-Radar/Small-Army-Radar-53093.gif') !important;
  background-size: cover;
}
/**Filbertas**/
#chat-messages .id-13474152 .badge-box i.bdg {
  background-image: url('http://pbs.twimg.com/profile_images/585186081605349376/lEsADMJV.jpg') !important;
  background-size: cover;
}
/**Mangirdas  (Dj Mange) **/
#chat-messages .id- .badge-box i.bdg {
  background-image: url('http://image.prntscr.com/image/c82f36597da8473193b0c2719f1e96ff.png') !important;
  background-size: cover;
}
/**ItsDJMaster**/
#chat-messages .id- .badge-box i.bdg {
  background-image: url('https://img.ifcdn.com/images/ca4105ebb3f570b73750e4d3577230eda1a36706d2aaacb3cf4870e3e496a744_1.jpg') !important;
  background-size: cover;
}
/**-Sadness**/
#chat-messages .id- .badge-box i.bdg {
  background-image: url('http://i.talpix.lt/9I0Q0.jpg') !important;
  background-size: cover;
}
/**bemer**/
#chat-messages .id- .badge-box i.bdg {
  background-image: url('http://199.204.185.30/new_neta/thumb/1407491264416s.jpg') !important;
  background-size: cover;
}
/**-VelnioSąžinė**/
#chat-messages .id-4090785 .badge-box i.bdg {
  background-image: url('http://preloaders.net/preloaders/409/Devil.gif') !important;
  background-size: cover;
}
/**-sherif**/
#chat-messages .id-3611882 .badge-box i.bdg {
  background-image: url('http://www.seethat.co.uk/wp-content/uploads/2016/05/Adidas-Client-Logo.jpg') !important;
  background-size: cover;
}
/**Canel`as**/
#chat-messages .id-3529452 .badge-box i.bdg {
  background-image: url('http://logok.org/wp-content/uploads/2015/08/Camel-cigarette-logo-on-package.jpg') !important;
  background-size: cover;
}
/**SweetTouch**/
#chat-messages .id-3896066 .badge-box i.bdg {
  background-image: url('http://www.downloadfeast.com/wp-content/uploads/2016/05/camera.gif') !important;
  background-size: cover;
}
/**GGGirtuoklisss**/
#chat-messages .id-4030669 .badge-box i.bdg {
  background-image: url('http://guesstheemoji-answers.com/wp-content/uploads/2014/06/guess-the-emoji-up-481.jpg') !important;
  background-size: cover;
}
/**Plytaa**/
#chat-messages .id-5035147 .badge-box i.bdg {
  background-image: url('http://www.infocasasigradina.ro/img_art/caramida.jpg') !important;
  background-size: cover;
}
/**-Vyšnia**/
#chat-messages .id-5928547 .badge-box i.bdg {
  background-image: url('https://apps.ubuntu.com/site_media/icons/2013/06/_usr_share_icons_hicolor_scalable_apps_cherrytree.png') !important;
  background-size: cover;
}
/**-Vabaliukas_Ul**/
#chat-messages .id-3857513 .badge-box i.bdg {
  background-image: url('http://media04.ligtv.com.tr/img/teams/23/390_1.png') !important;
  background-size: cover;
}


/**************/
/*TEST SECTION*/
/**************/


/*******/
/*VIP's*/
/*******/

/*Naught Fox*/
.cm.role-dj.id-3765403 .msg .from .un, #user-lists .list .role-dj.id-3765403 .name 
{
    color: #FF8F00 !important;
}

.id-3765403 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-3765403 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}

/*EternityMusic*/

.cm.role-dj.id-5073762 .msg .from .un, #user-lists .list .role-dj.id-5073762 .name 
{
    color: #FF8F00 !important;
}

.id-5073762 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-5073762 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}

/*DJ Yazora*/

.cm.role-dj.id-5025604 .msg .from .un, #user-lists .list .role-dj.id-5025604 .name 
{
    color: #FF8F00 !important;
}

.id-5025604 .msg .from .icon-chat-dj, #user-lists .list.room .user.id-5025604 .icon-chat-dj
{
    background: url("https://i.imgur.com/tmwo7Ps.png") !important;
    background-size: 12px !important;
    background-repeat: no-repeat !important;
    background-position: 3px 1px !important;
}


/*******/
/*ROLES*/
/*******/

.cm.role-dj .from .un, .role-dj .name
{
        color: #6669ff !important;
}

.icon-chat-dj 
{
    background: url("http://i.imgur.com/EsEu6mi.png") !important;
}

.cm.role-bouncer .from .un, .role-bouncer .name
{
        color: #c1272d !important;
}

.icon-chat-bouncer 
{
    background: url("http://i.imgur.com/WpFX7KO.png");
}

.cm.role-manager .from .un, .role-manager .name
{
        color: #006a44 !important;
}

.icon-chat-manager 
{
    background: url("http://i.imgur.com/7kA6NhJ.png");
}

.cm.role-cohost .from .un, .role-cohost .name, .cm.role-host .from .un, .role-host .name
{
        color: #fdb913 !important;
}

.icon-chat-cohost 
{
    background: url("http://i.imgur.com/LEo1zvQ.png");
}

.icon-chat-host 
{
    background: url("http://i.imgur.com/LEo1zvQ.png");
}
